body{
    background-color: #fff2e6;
}
h1{
    color: #663300;
    text-align: center;
}
h2{
    color :#663300;
    text-align: center;
}
img{
    width: 300px;
    /*border: solid #331a00 2px;
    padding: 5px;
    border-radius: 8px;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
}
table{
    margin-left: auto;
    margin-right: auto;
}
div.polaroid {
    width: 400px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}
div.container {
    text-align: center;
    padding: 10px 30px;
    font-size: 20px;
    /*color: #663300;*/
    font-weight: bold;
}
a{
    text-decoration: none;
    color: #663300;
}
#id{
    text-align: center;
    color: #663300;
    font-size: 20px;
}