body
{
background-color:#DEE9FC;
}
.ryskiau
{
    color: #0A337F;
    font-weight: 700;
    font-size: 35px;
}
.tekstas
{
    color: #0A337F;
    font-size: 20px;
}
img
{
    width: 600px;
    border: solid #0A337F 2px;
    padding: 5px;
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
#id
{
    font-size: 20px;
    color: #0A337F;
}
h1
{
    color: #0A337F;
    font-weight: 700;
    font-size: 50px;
}